body {
  font-family: poppins;
}
/* sidebar navigator */

.nav-sidebar {
  background: #222;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.nav-logo {
  width: 60px;
  height: 60px;
  margin-left: -40px;
}

.icon-nav {
  font-size: 30px;
  margin-left: -27px;
  margin-top: 20px;
}

/* end Sidebar Nav */

/*game Map*/

.fa-clock {
  font-size: 50px;
  margin-left: 50px;
  margin-top: 30px;
}

.fa-clock span {
  font-family: poppins;
  font-size: 40px;
  padding: 5px;
}

.game-map {
  position: absolute;
  background-color: #222;
  margin-left: 63px;
  margin-top: 3px;
  width: 890px;
  height: 495px;
}

.game-map p {
  margin-left: 10px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 200px;
  text-align: center;
  margin-top: 3px;
  color: #eee;
}

#game {
  margin-left:10px;
  width: 1000px;
}

#game-body {
  background-color: #333;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.game-obj {
  position: absolute;
  background-color: #222;
  margin-left: 956px;
  margin-top: 3px;
  width: 400px;
  height: 495px;
  padding: 20px;
}

.game-obj p {
  margin-left: 10px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 200px;
  text-align: center;
  margin-top: -13px;
  margin-left: -7px;
  color: #eee;
}

#obj-text {
  text-align: left;
  font-size: 16px;
}

.game-question {
  position: absolute;
  background-color: #222;
  margin-left: 63px;
  margin-top: 501px;
  width: 601px;
  height: 191px;
}

.game-time {
  position: absolute;
  background-color: #222;
  margin-left: 1067px;
  margin-top: 501px;
  width: 289px;
  height: 191px;
  padding: 10px;
}

#quiz-box {
  padding: 10px;
}

#quiz-box p {
  font-size: 30px;
  text-align: center;
  color: #eee;
}

.quiz-box-pad {
  padding-left: 60px;
}

.qb-text {
  margin-left: 10px;
  border-right: 1px solid gray;
  border-left: 1px solid gray;
  width: 200px;
  text-align: center;
  margin-top: 3px;
  color: #eee;
}

.btn-question {
  background-color:#034638;
  border: 1px solid #eee;
  border-radius: 3px;
  width: 160px;
  height: 40px;
  color: #eee;
  font-size: 20px;
  margin: auto;
  display: block;
  transition: all 0.8s;
}

.btn-question:hover {
  box-shadow: 0 0 10px #eee;
  transition: all 0.8s;
}


.col-xs-3 {
  width: 230px;
}

.game-time p {
  text-align: center;
  color: #eee;
  font-size: 20px;
  border-bottom: 1px solid #eee;
}

.timer {
  color: #666;
}

.fa-clock {
  color: #eee;
}

.CodeMirror {
font-size: 12px !important;
height: 390px !important;
}

.fa-times-circle {
  width: 100%;
  text-align: center !important;
  font-size: 35px;
  color: red;
}

.fa-check-circle {
  width: 100%;
  text-align: center !important;
  font-size: 35px;
  color: green;
}

.wrong-font {
  font-family: 'poppins light';
  color: #222;
}

.fa-lightbulb {
  color: yellow;
  font-size: 20px;
}


.game-space {
  position: absolute;
  background-color: #222 ;
  margin-left: 667px;
  margin-top: 501px;
  width: 396px;
  height: 191px;
  color: #eee;
}
